html,
body {
    height: 100%;
    background-color: #e0e0e0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.contain {
    max-width: 1260px;
    min-width: 300px;
    margin: auto;
}

.nav-button {
    display: none;
    margin-right: 10px;
}

.up-part {
    background-color: white;
    height: 120px;
}

.logo {
    width: 17.8%;
    height: 120px;
    padding-top: 35px;
    padding-left: 2%;
}

.info {
    float: left;
    width: 80%;
    font-family: "Apercupro Regular", sans-serif;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.prof {
    color: #5e5e5e;
    padding-right: 5px;
    cursor: pointer;
}

.exit {
    font-size: 14px;
    cursor: pointer;
    padding-right: 0.5%;
}

.info span {
    font-family: "Apercupro Bold", sans-serif;
}

.nav-block {
    width: 80%;
    float: left;
    padding-top: 6px;
}

.navigation {
    list-style-type: none;
    font-family: "Apercupro Bold", sans-serif;
    font-size: 18px;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 45px;
    width: 745px;
    border-bottom: 2px solid #e2e2e2;
}

.tab {
    position: relative;
    float: left;
    color: #999;
    padding-bottom: 7px;
    margin-right: 15px;
}

.active-tab {
    color: #5e5e5e;
    border-bottom: 2px solid #5e5e5e;
}

.tab:last-child {
    margin-right: 0;
}

.tab a {
    color: inherit;
    cursor: pointer;
    padding-bottom: 10px;
}

.mobile-messages {
    display: none;
}

.down-part {
    background-color: #f1ebd3;
    height: 100px;
    font-family: "Apercupro Regular", sans-serif;
}

.key {
    width: 8%;
    height: 50px;
    margin-left: 2%;
    margin-top: 25px;
    background-color: #ff8e41;
    border: 2px solid white;
    border-radius: 2px;
}

.key img {
    position: relative;

}

.key:hover {
    background-color: #e27200;
}

.search-form {
    width: 65%;
    margin: auto;
    padding-top: 25px;
}

.btn-search {
    color: #999;
    font-size: 215%;
    float: left;
    width: 10%;
    background-color: #faf6e5;
    border: none;
    height: 50px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

.mobile-search {
    display: none;
}

.cancel-search {
    display: none;
}

.text-block {
    float: left;
    height: 50px;
    width: 90%;
    padding-top: 12px;
    padding-left: 10px;
    background-color: white;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

.text-input {
    width: 100%;
    font-size: 15px;
    border: 0;
    color: #475669;
}

.lang-block {
    margin-right: 2%;
}

.lang-sel {
    color: #ff8e41;
    font-weight: bold;
    width: 80px;
    height: 50px;
    border-radius: 2px;
    padding-top: 15px;
    padding-left: 30%;
    background-color: #faf6e5;
    cursor: pointer;
}

.avatar {
    display: none;
}

.invis {
    display: none;
}

.eng {
    color: #5e5e5e;
    position: relative;
    margin-top: 12px;
    margin-left: -24px;
    padding-top: 15px;
    height: 50px;
    width: 80px;
    text-align: center;
    background-color: #faf6e5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.subcontainer {
    width: 65%;
    margin: auto;
    padding-bottom: 30px;
}

.subnav {
    padding-top: 10px;
    width: 124%;
    height: 60px;
}

.content {
    background-color: #faf6e5;
    min-height: 650px;
}

.subnavigation {
    list-style-type: none;
    font-family: "Apercupro Bold", sans-serif;
    font-size: 18px;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 45px;
    border-bottom: 1px solid white;
}

.message {
    margin-top: 5px;
    color: #5e5e5e;
    font-family: "Apercupro Bold", sans-serif;
    padding: 8px;
    font-size: 18px;
}

.form-block {
    margin-top: 25px;
    padding-left: 12px;
    background-color: white;
    border: 1px solid #f1ebd3;
    padding-right: 1px;
    padding-top: 1px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 15px;
    color: #475669;
    cursor: pointer;
}

.form-area {
    width: 100%;
    height: 90px;
    border: 0;
    font-size: 15px;
    color: #475669;
    cursor: pointer;
    resize: none;
}

.form-label {
    position: absolute;
    padding-left: 5px;
    margin-top: 17px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    font-family: "Apercupro Regular", sans-serif;
    font-weight: normal;
}

.form-section {
    margin-top: 25px;
}

.form-block-item {
    float: left;
    width: 33%;
    padding-left: 12px;
    background-color: white;
    border: 1px solid #f1ebd3;
    margin-right: 0.5%;
    padding-right: 1px;
    padding-top: 1px;
}

.form-block-item:last-child {
    margin-right: 0;
}

.form-input-item {
    width: 100%;
    color: #475669;
    height: 40px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.error-input {
    border: 2px solid #e03a3a;
    border-radius: 3px;
}

.block-hint {
    display: none;
    float: right;
    width: 15px;
    height: 15px;
    margin-top: -22px;
    margin-right: 10px;
    font-size: 18px;
}

.block-hint i {
    color: #e03a3a;
    position: absolute;
    cursor: pointer;
}

.hint {
    display: none;
    position: absolute;
    font-size: 14px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    margin-left: -100px;
    margin-top: 25px;
}

.hint p {
    color: #5e5e5e !important;
    margin: 0;
}

.form-submit {
    width: 290px;
    margin-top: 25px;
    background-color: #ff8e41;
    color: white;
    border: 0;
    border-radius: 2px;
    height: 50px;
    font-family: "Apercupro Regular", sans-serif;
}

.spin-text {
    padding-left: 18%;
}

.form-submit:hover {
    background-color: #e27200;
}

.applications {
    padding-top: 30px;
    overflow: auto;
}

.app-caption {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    color: #5e5e5e;
}

.applications table {
    color: #999;
    font-weight: bold;
    background-color: white;
}

.foot {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px solid #f1ebd3;
    height: 100px;
}

.footer-alias {
    width: 200px;
    font-family: "Apercupro Bold", sans-serif;
    color: #5e5e5e;
    float: left;
    background-color: white;
}

.footer-alias p {
    float: left;
    padding-left: 1%;
    font-size: 15px;
}

.footer-alias a {
    font-size: 14px;
    font-family: "Apercupro Regular", sans-serif;
    float: left;
    padding-left: 18%;
}

.footer-description {
    width: 83%;
    font-family: "Apercupro Regular", sans-serif;
    padding-left: 10px;
    float: left;
    color: #5e5e5e;
    background-color: white;
    font-size: 11.9px;
    line-height: 18px;
}

.dich {
    min-height: 350px;
    background-color: white;
    padding-top: 10px;
    font-size: 12.5px;
    color: #5e5e5e;
}

.spinner {
    width: 70px;
    float: right;
    padding-right: 15%;
}

.spinner > div {
    width: 6px;
    height: 6px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
    -o-animation: sk-bouncedelay 1s infinite ease-in-out both;
    -moz-animation: sk-bouncedelay 1s infinite ease-in-out both;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@media (max-width: 1250px) {
    .contain {
        width: 100%;
    }

    .footer-description {
        width: 79%;
    }

    .wrap {
        background-color: white;
    }
}

@media (max-width: 1020px) {

    .nav-button {
        display: inline-block;
    }

    .nav-block {
        display: none;
    }

    .up-part {
        height: 60px;
        padding: 10px 15px;
    }

    .logo {
        width: auto;
        height: auto;
        padding: 0;
    }

    .logo img {
        width: 112px;
        height: 40px;
    }

    .info {
        display: none;
    }

    .exit {
        padding-right: 5px;
    }

    .down-part {
        height: 70px;
        padding: 10px 15px;
    }

    .key {
        display: none;
    }

    .avatar {
        display: inline-block;
        float: left;
        margin-right: 10px;
        border-radius: 5px;
        width: 50px;
        height: 50px;
    }

    .nav-button {
        border-radius: 5px;
        border: 0;
        background-color: white;
        width: 60px;
        height: 50px;
    }

    .mobile-search {
        display: inline-block;
        font-size: 21px;
        border-radius: 5px;
        color: #ff8e41;
        float: left;
        padding-bottom: 5px;
        border: 0;
        background-color: white;
        width: 60px;
        height: 50px;
    }

    .cancel-search {
        float: right;
        font-size: 21px;
        color: #e03a3a;
        border: 0;
        width: 25px;
        height: 25px;
        padding: 10px;
        background-color: #f1ebd3;
    }

    .search-form {
        display: none;
        padding: 0;
        margin-left: 8%;
        width: 68%;
    }

    .text-block {
        width: 100%;
    }

    .btn-search {
        display: none;
    }

    .lang-block {
        margin-right: 0;
    }

    .lang-sel {
        width: 70px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 15px;
    }

    .eng {
        width: 70px;
        height: 50px;
        margin-left: -15px;
    }

    .subcontainer {
        width: 80%;
        margin-left: 15px;
    }

    .subnav {
        width: 120%;
    }

    .mobile-messages {
        display: inline-block;
        float: right;
        padding-top: 10px;
        font-family: "Apercupro Bold", sans-serif;
    }

    .mob-message-contain {
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding-top: 6px;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 29px;
        font-size: 13px;
        background-color: #e03a3a;
        color: white;
    }

    .mob-message-contain::before {
        content: '';
        position: absolute;
        border-left: 16px solid transparent;
        border-bottom: 11px solid #e03a3a;
        right: 26px;
        top: 9px;
    }

    .mobile-messages i {
        font-size: 23px;
        color: #e03a3a;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
    }

    .foot {
        height: 130px;
    }

    .footer-alias {
        width: 100%;
    }

    .footer-description {
        width: 100%;
        padding-left: 1%;
    }
}

@media (max-width: 692px) {
    .subcontainer {
        width: 100%;
        padding: 10px 15px;
        margin: auto;
    }

    .subnav {
        width: 100%;
    }

    .search-form {
        width: 66%;
        margin-left: 5px;
    }

    .form-submit {
        width: 100%;
    }

    .form-section {
        margin: 0;
    }

    .form-block-item {
        width: 100%;
        margin-top: 25px;
    }

    .foot {
        height: 100px;
    }

    .footer-description {
        display: none;
    }

    .footer-alias {
        width: 100%;
    }

    .footer-alias a {
        padding-left: 12%;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

@font-face {
font-family: "Apercupro Bold";
src: url("../fonts/apercupro-bold-webfont.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Apercupro Regular";
    src: url("../fonts/apercupro-regular-webfont.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a, a:hover, a:link, a:active {
    text-decoration: none;
}